<nav class="navbar">
      <div class="img">
        <img src="/assets/img/cat.png" alt="">
      </div>

      <div class="menu">
          <a href="#">LOGIN</a>
          <a href="#">REGISTRAR</a>
      </div>
          
    </nav>